



<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <!--TODO: add sort logic-->
          <div class="form-group col-md-6 ">
            <div class="dropdown">
              <button class="form-control dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button #title class="dropdown-item" type="button" (click)="sortBooks(title.value)" value="Title">Title</button>
                <button #author class="dropdown-item" type="button" (click)="sortBooks(author.value)" value="Author">Author</button>
                <button #years class="dropdown-item" type="button" (click)="sortBooks(years.value)" value="Date">Release Year</button>
                <button #price class="dropdown-item" type="button" (click)="sortBooks(price.value)" value="Price">Price</button>
              </div>
            </div>
         </div>

      <!--TODO: add sort-->
      <app-book-filter [bookCategory]="tags" [bookAuthor]="authors"></app-book-filter>

    </div>

    <div class="col-lg-9 ">

      <div class="row">
        <app-book-cart class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books" [book-info]="book"></app-book-cart>
      </div>
      <!-- /.row -->

    </div>


    <div class="container">


    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>



