



<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <!--TODO: add sort logic-->
          <div class="form-group col-md-6 ">
            <div class="dropdown">
              <button class="form-control dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Title</button>
                <button class="dropdown-item" type="button">Writer</button>
                <button class="dropdown-item" type="button">Release Year</button>
                <button class="dropdown-item" type="button">Most Sell</button>
              </div>
            </div>
         </div>

      <!--TODO: add sort-->
      <app-book-filter [bookCategory]="bookCat" [bookAuthor]="authors"></app-book-filter>

    </div>

    <div class="col-lg-9 ">

      <div class="row">
        <app-book-cart class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books" [book-info]="book"></app-book-cart>
      </div>
      <!-- /.row -->

    </div>


    <div class="container">


    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>



